body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    font-size: 12px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.header,.main,.content,.footer{
    padding: 20px 300px;
}

.header{
    border: 1px solid red; /*for debugging*/
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main{
    border: 1px solid red; /*for debugging*/
    min-height: 500px;
}

.content{
    border: 1px solid red; /*for debugging*/
    min-height: 500px;
}

.footer{
    border: 1px solid red; /*for debugging*/
    height: 72px;

}


.logo{
    height: 90%;
}

.navbar{
    display: flex;
    gap: 20px;
}

a.header-link{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}